@use 'variables' as *;

.flex-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  section{
    width:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
	  background-image: url(../images/map.jpg);
	  background-position: 51%;
    height: 328px;
    h2{
      color:  $dark-header-map;
      font-weight: 900;
      font-size: 30px;
    }
    a{
      border: 1px solid $dark-header-map;
      padding: 0.5rem;
      text-decoration: none;
      color: $dark-header-map;
      font-weight: 600;
      font-size: 16px;
      &:hover{
        background-color: $dark-header-map;
        color: $light-text;
      }
    }
  }
  aside{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $newsletter-header;
    height: 328px;
    h2{
      margin: 1rem .6rem 2rem;
      color:  $light-text;
      font-weight: 900;
      font-size: 30px;
      max-width: fit-content;
      width: 14rem;
    }
    padding-bottom: 3rem;
    a{
      border: 2px solid $light-text;
      padding: 0.5rem;
      text-decoration: none;
      color: $light-text;
      font-weight: 600;
      font-size: 16px;
      &:hover{
        background-color: $dark-header-map;
        color: $light-text;
      }
    }
  }
}

@media (min-width: 768px){
  .flex-container{
    flex-direction: row-reverse;
    section{
      width:50%;
      height: 400px;
      h2{
        font-size: 32px;
      }
      a{
        background-color: $btn-color;
        color: $light-text;
        border: none;
      }
    }
    aside{
      width:50%;
      height: 400px;
      h2{
        max-width: fit-content;
        margin: 5rem 0.6rem 2rem;
        color: white;
        font-weight: 900;
        font-size: 32px;
        width: 20rem;
      }
      a{
        background-color: $btn-color;
        border:none;
        padding: 0.6rem 1rem;
        font-size: 18px;
      }
    }

    .map .button {
        color: $light-text;
        border-style: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: -5px;
        font-size: 18px;
    }
   
    .sidebar {
        flex: 1;
        justify-content: center;
    }

    .button {
        margin-top: 1rem;
    }

    .find {
        padding: 8px;
    }

}
}

@media (min-width: 1024px) {
  .flex-container{
    flex-direction: row-reverse;
    section{
      width:50%;
      height: 415px;
      h2{
        font-size: 48px;
      }
      a{
        background-color: $btn-color;
        color: $light-text;
        border: none;
      }
    }
    aside{
      width:50%;
      height: 415px;
      h2{
        max-width: fit-content;
        margin: 5rem 0.6rem 2rem;
        color: white;
        font-weight: 900;
        font-size: 48px;
        width: 28rem;
      }
      a{
        background-color: $btn-color;
        border:none;
        padding: 0.6rem 1rem;
        font-size: 18px;
      }
    }

    .map .button {
        color: $light-text;
        border-style: none;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        margin-top: -5px;
        font-size: 18px;
    }
   
    .sidebar {
        flex: 1;
        justify-content: center;
    }

    .button {
        margin-top: 1rem;
    }

    .find {
        padding: 8px;
    }

}
}

@media (min-width: 1440px) {
  .flex-container{
    flex-direction: row-reverse;
    section{
      width:50%;
      height: 450px;
      h2{
        font-size: 48px;
      }
    
    }
    aside{
      width:50%;
      height: 450px;
      h2{
        max-width: fit-content;
        margin: 5rem 0.6rem 2rem;
        color: white;
        font-weight: 900;
        font-size: 48px;
        width: 31rem;
      }
      
    }

  

}
}
