@use 'variables' as *;

footer {
    background-color: $hover-text;
    align-items: center;

    div h3 {
        margin: 0;
    }
}

.logo {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    width: 25px;
}

svg {
    fill: $light-text;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-text {
    font-size: 0.85rem;
    text-decoration: none;
    color: $light-text;
    font-weight: lighter;
    padding-left: 7px;
}

.phone-and-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem 1rem 0 1rem;
    align-items: center;
}

.line {
    text-decoration: none;
    padding-right: 0.5rem;
}

.phone {
    display: flex;
    align-items: center;
}

.mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
}

.social-media {
    padding-right: 1.8rem;
}

.copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}