@use 'variables' as *;


a {
    color: $light-text;
    li & {
        text-decoration: none;
    }
    &:focus {
        color: $hover-text;
    }
    &:active {
        color: $hover-text;
    }
    &:visited {
        color: $light-text;
        text-decoration: none;
    }
    &:hover {
        color: $hover-text;
    }
}