@use 'variables' as *;

li{
    
    a{
        color: $light-text;
        text-decoration: none;
        &:hover {
        color: $hover-text;
        }
        &:focus {
            color: $hover-text;
        }
        &:active {
            color: $hover-text;
        }
        &:visited {
            color: $light-text;
            text-decoration: none;
        }
    }
    
}