@use 'variables' as *;

.newsletter{
    background-color: $newsletter-header-bg;
    width: 100%;
    padding: 1.4rem 0 1.6rem;
    form{
        gap: .4rem;
    }
    label{
        color: $newsletter-header;
        font-size: 20px;
        font-family: $header-font;
        line-height: 1.5rem;
        display:block;
        text-align: center;
        margin: auto 10px 1rem;
    }
    div{
        font-size: .75rem;
        line-height: 1rem;
        height: 2rem;
        display:flex;
        justify-content: space-around;
        gap: 5px;
        margin: auto 10px;
    }
    button{
        font-weight: 700;
        width:8.5rem;
        max-width: 8.5rem;
        padding: 6px 0.3rem;
        margin-left: 2px;
        text-align:center;
        background-color: $btn-color;
        color: white;
        outline: none;
        border:none;
        font-family: $body-font;
        text-transform: uppercase;
        font-size: 1rem;
    }
    .email-input{
        box-shadow: none;
        border: none;   
        padding: .5rem 1.19rem 0.5rem;
        width:100%;
        margin: 0;
        display:block;
    }
}

@media (min-width : 48rem){
    .newsletter{
        
        form{
            max-width: 45rem;
            margin: 0 auto;
            display:flex;
            flex-wrap:wrap;
            justify-content: center;
            align-items: center;
        }
        .email-input{
            font-size:1rem;
            padding-left: .8rem;
        }
        label{
            margin: 0;
        }
        div{
            width: 22.8rem;
            margin: 0;
        }
    }
   

}

@media (min-width: 64rem){
        .newsletter{
            form{
                max-width: 60rem;
            }
            div{
                width: 26.8rem;
            }
            label{
                font-size: 1.7rem;
            }
        }
}

@media (min-width: 82rem){
    .newsletter{
        form{
            max-width: 75rem;
        }
        div{
            width: 40rem;
        }
    }
}