@use 'variables' as *;

// text
h1, h2, h3, h4 {
    text-transform: $uppercase;
    font-family: $header-font;
}

a {
    text-transform: $uppercase;
    font-family: $header-font;
}

body {
    font-family: $body-font;
}

// colour
