// text
$header-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$uppercase: uppercase;

// universal colours
$hover-text: #009DDB;
$light-text: white;

// colours for mobile
$dark-header-mobile: #555555;
$dark-header-map: #504F4F;
$newsletter-header: #154A65;

// if the placeholder text colour can be changed*
$placeholder-text: #757474;