// text
$header-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
$uppercase: uppercase;
$center: center;

// universal colours
$hover-text: #009DDB;
$light-text: white;


// colours for mobile
$dark-header-mobile: #555555;
$dark-header-map: #504F4F;
$dark-submit-active: #3b3b3b;
$newsletter-header: #154A65;
$newsletter-header-bg: #b8ddf1;

$navigation-banner: rgba(54, 54, 54, 0.75);
$border-lines: #c3c3c6;

// if the placeholder text colour can be changed*
$placeholder-text: #757474;

// newsletter colors
$btn-color: #009ddc;